

{{> head}}


{{> navbar }}
    <div class="container row" >
        <div class="col-8">
            <h1>Boca Juniors</h1>
            <p> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, eius incidunt deleniti nam praesentium doloribus harum excepturi, impedit illo odit beatae aspernatur earum? Vitae doloribus provident voluptatibus nostrum quisquam? Impedit.</p>
        </div>
        <div class="col-4">
            <img src="assets/img/boca.png" class="img-thumbnail">
        </div></div>
    
{{> footer }}
<script src="/public/assets/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</body>
</html>